body{
    background: cream;
    font-family: Arial, Helvetica, sans-serif;
    color: DarkBlue;
}
h1{
    color: pink;
    text-align: center;
}

h2{
    color: #000080 !important;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}

a {  /* change the appearance of ALL links */
    text-decoration: none;
    color: purple;
}
.project p {  /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
}


    








