body{
    background: cream;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: pink;
    text-align: center;

}

img{
    width:300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rbg(04, 04, 04);
    display: block;
    margin: auto;
)
    


